RewriteEngine On
RewriteRule /services$ /services.php [L]
RewriteRule /company$ /company.php [L]
RewriteRule /index$ /index.php [L]
RewriteRule /privacy$ /privacy.php [L]
RewriteRule /services/managed-services$ /services/managed-services.php [L]
RewriteRule /services/network-monitoring$ /services/network-monitoring.php [L]
RewriteRule /services/devops$ /services/devops.php [L]
RewriteRule /services/security$ /services/security.php [L]
RewriteRule /services/development$ /services/development.php [L]
RewriteRule /services/training$ /services/training.php [L]
RewriteRule /services/cloud-services$ /services/cloud-services.php [L]
RewriteRule /services/data-science$ /services/data-science.php [L]
