* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #404350;
}

a {
    text-decoration: none;
    color: #0366dd;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
}
.nav .logo {
    flex: 1 auto;
    padding: 0 10px;
}
.nav a {
    color: #404350;
    font-weight: 500;
}
.nav .logo a {
    font-size: 1.25em;
    font-weight: 600;
}
.nav ul a:hover {
    color: #0366dd;
}
.nav-items ul,
.nav-items ul ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
}
.nav-items ul ul {
    display: none;
    position: absolute;
    top: calc(1.25em + 18px);
    left: 40px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #404350;
    border-radius: 4px;
}
.nav-items li:hover > ul {
    display: inherit;
}
.nav-items li:hover > a {
    color: #0366dd;
}
.nav-items ul ul li {
    float: none;
    display: list-item;
    position: relative;
}
.nav-items ul li {
    padding: 6px 10px;
}
a.bfl {
    color: #0366dd;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}
a.bfl:hover {
    text-decoration: underline;
}
.above-the-fold {
    background-color: transparent;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .48) 100%), url(/assets/media/images/minneapolis_0.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0;
}
.above-the-fold .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.above-the-fold h1 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.above-the-fold a {
    display: inline-block;
    margin-top: 100px;
}
button, a.button {
    background-color: #0366dd;
    border: 1px solid #0366dd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;

    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    padding: 1em 1.6em;
    cursor: pointer;
}
button:hover, a.button:hover {
    background-color: #fff;
    color: #0366dd;
}
section {
    padding: 4em 0;
}
.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}
.section-title h3 {
    color: #000 !important;
}
.section-title span {
    width: 24px;
    display: block;
    margin: .4em auto 0;
    border-top: 3px solid #0366dd;
}
.services .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services .service {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    margin-bottom: 3em;
    position: relative;
}
.service i {
    font-size: 3em;
    margin: 0 auto 2rem;
    color: #0366dd;
}
.service span {
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
}
.service .what {
    font-size: 1.2em;
    font-weight: 500;
    color: #0366dd;
}
.service .why {
    font-weight: bold;
    margin-bottom: .4rem;
}
.service .how {
    padding: 0 .5em;
}
.service .go {
    display: inline-block;
    width: 40%;
    margin: 0 auto 1rem;
    text-align: center;
    font-weight: bold;
    color: #0366dd;
}
.service:hover > .go {
    text-decoration: underline;
}
/* make entire service block clickable */
.service a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 20;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity = 1);
}
* {
    line-height: 1.6;
}

.our-company {
    background-color: transparent;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .48) 100%), url(/assets/media/images/minneapolis_1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0;
}
.our-company .container {
    display: flex;
    flex-direction: row;
    align-items: left;
}
.our-company h4, .our-company p {
    margin: 1em 0;
    font-size: 1.2em;
}
.our-company p {
    padding-right: 4em;
}
.our-company a {
    display: inline-block;
    margin-top: 2em;
}

.bubble {
    background-color: white;
    padding: 2em;
    width: 50%;
}

.shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.bubble .section-title {
    text-align: left;
    margin-bottom: 1em;
}
.bubble .section-title span {
    margin: .4em 0 0;
}

.contact .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
}
input[type=text], textarea {
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 1.2em;
    border-radius: 4px;
    display: block;
}
input[type=text] {
    width: 50%;
}

.estimate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}
.contact button {
    width: 40%;
}
footer {
    background-color: #202020;
    color: #fff;
    padding: 2em 0;
}
footer div {
    color: #fff;
}
footer .copyright {
    margin-top: 2em;
    text-align: center;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer .container a, footer .container a i {
    color: #ddd;
}
footer .container a:hover {
    color: #fff;
    text-decoration: underline;
}
footer .container ul li a {
    font-weight: bold;
}
footer .container ul li ul li a {
    font-weight: normal;
}
footer .container a i {
    margin-right: .4em;
}
/* page specific */
main.privacy h1, main.privacy h3 {
    margin: 1em 0;
}
main.privacy h1 {
    margin-bottom: .4em;
}
main.privacy p {
    margin: .8em 0;
}
main.privacy p.notice {
    margin-bottom: 1em;
}
#thank-you {
    border-radius: 4px;
    border: 1px solid #0366dd;
    color: #0366dd;
    padding: .4em .8em;
    background-color: #dcebfe;
    margin-bottom: 1em;
    display: none;
}